[2019-05-02 01:18] krisgesling opened #8 "Misinterpreting numbers in utterance"
[Issue from Forums](https://community.mycroft.ai/t/homeassistant-skill-misinterprets-request/6453), text copied here:

[2019-05-08 09:16] stevelord opened #9 "Home Assistant settings keep being forgotten"
Mycroft is up and running, but Mycroft won't remember settings.

To recreate:

1. Install the Home Assistant plugin from the marketplace
2. Enter a server, token and port, uncheck verify.
3. Hit save.
4. Say, "Hey mycroft, turn on bedroom light"
5. Start crying when mycroft tells you to configure the home assistant settings.

I've tried removing and re-adding the plugin, manually writing into sett

[2019-05-09 05:06] merps commented on #9
@stevelord - curious, have you got multiple mycroft's configured with this skill?

[2019-05-09 09:26] stevelord commented on #9
Just the one. It's a fresh build using the 2018-09-02 image. Home assistant is on the same network but doesn't use SSL.

[2019-05-11 11:08] renekliment commented on #9
I'm having the same issue here.

[2019-05-12 13:21] renekliment commented on #9
I think this is an issue with `home.mycroft.ai` exclusively. It gives me `503`s when trying to save settings.

[2019-05-12 13:32] renekliment commented on #9
Sorry for the spam, but I've tried in an anonymous window and that seems to work!

[2019-05-16 12:38] merps commented on #9
cheers @stevelord - `503` - where are you seeing that @renekliment ?

[2019-05-17 21:31] JonathanBlasingame commented on #9
Has the issue been resolved yet?

[2019-05-21 09:10] peterdolenc commented on #9
I don't think it has been fixed. Here's what's worked for me (workaround):
- put in your data and check to use SSL and to validate it (all 3 checkboxes checked)
- save -> this will work
- reload page
- uncheck SSL checkboxes
- save (the rest will  stick now)

EDIT: or not... it somehow worked for a brief period :/

[2019-06-02 18:42] ChristopherRogers1991 opened #11 "Check device status before/after issuing commands"
As flagged in https://community.mycroft.ai/t/homeassistant-skill-misinterprets-request/6453/39, there is currently no error if you try to control a device that is offline.

This is in part due to limitations of the home assistant API, which issues an HTTP 200 (successful) response regardless of whether it was able to actual take the action issued. To resolve this, I think we'd need to query the de

[2019-07-08 13:24] scottsweb commented on #8
I am seeing a similar issue to this. Any device with at least some shared name is being confused for another.

becomes

...

becomes:

I have just upgraded from Mycroft 18 with the old pre-forked skill. Everything was working as expected on the older stack.

[2019-07-17 00:21] generalsmithers opened #13 "Connection to home assistant fails with unclear error message if access token not configured"
If a long-lived access token for homeassistant is not configured and the user attempts to use the homeassistant skill, the response from mycroft does not mention that a token is required.

[2019-07-19 14:21] scottsweb opened #14 "Failed to load skill: homeassistant.mycroftai (commonIoT branch)"
Traceback:

[code]

Python 3.5.2.
Mycroft 19.2.13

Using the commonIoT branch for compatibility with the IoT skill. Related issue on that side: https://github.com/MycroftAI/skill-iot-control/issues/6

[2019-08-21 16:54] scottsweb commented on #14
I managed to fix this by upgrading Python to 3.7.4

[2019-08-21 16:54] #14 closed, assigned to nobody

[2019-12-07 09:28] TheLastProject opened #18 "Can't turn on lights"
Mycroft keeps making "no changes". I wonder how to debug this...

![](https://i.imgur.com/jCbcLyr.png)
![](https://i.imgur.com/4JJ4fzh.png)
![](https://i.imgur.com/t6JptoG.png)

[2019-12-18 12:38] vdmkenny opened #19 "unable to toggle entire groups"
I have multiple rooms configured in my home-assistant, but I'm unable to shut off lights on a per-room basis.

When I try the utterance "turn off the living room lights", and see it correctly registered in the logs, it still matches a scene I have configured to turn my living room lights on low or high.

The reply I get is "turn off living room nighttime", but my lights stay on.

I can ofcourse as

[2019-12-18 15:54] vdmkenny commented on #19
It seems like I misunderstood something about home-assistant.
When my lights are discovered and placed into rooms in the UI, this does not correspond to groups.
When I manually put them in groups, it works. Sorry about the confusion.

[2019-12-18 15:54] #19 closed, assigned to nobody

[2019-12-21 15:36] TheLastProject commented on #18
Hmm, tried later and now it worked. Odd.

[2019-12-21 15:36] #18 closed, assigned to nobody

[2019-12-21 15:55] TheLastProject opened #20 "Can't turn off all lights"
https://github.com/MycroftAI/mycroft-homeassistant/blob/19.02/regex/en-us/switch.rx#L2 makes me think the phrase `turn off all lights` should work. However:

[code]

[2019-12-26 20:30] andlo commented on #20
I can confirm - this also happens at my place.

[2020-02-08 13:00] andlo opened #23 "fallback to HA conversation is never used"
It seems like the fallback to Homeassistant conversation is never used.

it seems that nomatter if ```“enable_fallback”: true ``` the skill still thinks it is false.

In lines 59..61 is the problem.

[code]
should be
[code]
Then it works.

I made a fix in the fix_fallback branch and will PR that to the default if/when someone confirms it is working for them too.

[2020-02-11 03:17] sup08228 commented on #23
I confirm that this has fixed the issue.  It is correctly falling back.  Thanks andlo!!

[2020-02-11 18:53] andlo commented on #23
@krisgesling mentioned that due to changes in settingsmeta.json we should waite a bit until merging....

[2020-02-15 13:23] adas4190 opened #24 "Covers"
I cannot controll covers with it? Is it something I do wrong? Thank You

[2020-02-16 10:55] iditude opened #25 "Language issue"
Hello,

I'm trying to use the skill and it works perfectly in English. However in french (configured by "lang": "fr-fr", in mycroft.conf), no keywords work. For instance I use "allume XXX" which is the equivalent to "turn on XXX" (according to this https://translate.mycroft.ai/fr/mycroft-skills/translate/homeassistant-fr.po#search=allume&sfields=source,target&unit=134631&offset=0) but faced with a

[2020-02-28 20:17] gabipintea opened #27 "Failed to upload settingsmeta"
Hi! First of all, very good job with this skill. Keep up the good work!
I recently updated to mycroft-core 20.2.0 and after failing to update, i just clean installed picroft again.

Running on Raspberry Pi 3, after installing Home Assistant skill i get the following in mycroft-cli
[code]
Any idea?

[2020-02-29 20:39] sup08228 commented on #27
I second the comment above, awesome skill!  I am also getting the same error.

[2020-03-01 10:23] andlo commented on #27
You could try changing to the 20.02 branch by
[code]
in the skill directory /opt/mycroft/skills/homeassistant.mycroftai

This branch seems to work on the 20.02 release of mycroft-core. Dont yet know why this brans isnt set as defautl.

[2020-03-01 10:27] andlo opened #28 "Change default branch from 19.08 to 20.02"
Shouldnt default branch be changed to 20.02 ?

[2020-03-01 10:59] forslund commented on #28
Seems like it's even 19.02 still. Will create a 20.02 and fix. Thanks for noticing and reporting

[2020-03-01 11:01] forslund commented on #28
Done!

[2020-03-01 11:01] #28 closed, assigned to nobody

[2020-03-01 11:04] forslund commented on #27
@krisgesling did the modification on friday correcting the settingsmeta.yml, we're still discussing if it should really be left as is and the backend should be changed to accept the `false`value. so we'll see where we land tomorrow.

20.02 branch should work for now but if it's changes back there may be an issue with settings disappearing from home.

[2020-03-01 18:01] gabipintea commented on #27
I did the 'git checkout 20.02' and now everything is working just fine. Thank you very much!

[2020-03-01 19:49] #27 closed, assigned to nobody

[2020-03-02 06:09] tycrek opened #30 ""Install" command installs out-of-date Git files"
When using the voice command to install home assistant, it incorrectly installs the version with YAML settings. Doing a `git pull` in the homeassistant skills directory updates to the correct version, at which point the Skill can be configured at home.mycroft.ai.

Please fix the skill installation so it uses the JSON settings file instead of the broken YAML file. There is zero documentation for th

[2020-03-02 06:43] forslund commented on #30
The skill was updated just on Friday and hasn't been submitted to the Marketplace, we were pending a decision if the skill should be modified or if the backend should be fixed to handle the failing value. (both versions actually uses the yaml, just corrected syntax)

[2020-03-02 14:26] forslund commented on #30
@tycrek The version in the marketplace has been updated. @krisgesling ended up reverting a couple of changes in the settingsmeta yaml file to match the old json (to hinder the backend from wiping the settings). Since you did an update to the previous half-finished state your settings may disappear from mycroft-home.)

[2020-03-02 14:26] #30 closed, assigned to nobody

[2020-03-02 15:24] forslund commented on #25
Hi,

as part of the v20.02 updates the french translations has been included in the released skill. It would be great if you could retry now.

Thanks

[2020-03-02 15:40] #23 closed, assigned to nobody

[2020-03-02 15:47] tycrek commented on #30
Ok, thanks for letting me know :)

Josh Moore
Software Developer
Visit my website <https://jmoore.dev/> or check out my GitHub <https://github.com/tycrek/>

Mar. 2, 2020, 7:26 a.m. by notifications@github.com:

[2020-03-07 12:20] iditude commented on #25
Hello,

Thanks for the help. I can't get Homeassistant to properly install anymore on 20.2.

Here are the debug logs. Any ideas?

Thanks

[code]

[2020-03-07 12:44] iditude commented on #25
Answering to myself: I can install the skill in English and then switch mycroft language to fr-fr. So it's only an install issue for foreign language.

The main issue remains though. No understanding from Mycroft in FR (while works perfectly in EN).

Thanks

[2020-03-07 12:45] forslund commented on #25
Thanks for reporting, Sounds a bit like an incorrectly translated regex. Will verify when I'm at acomputer

[2020-03-07 14:43] andlo commented on #25
I have simalar issue in danish. Some of the regex files were badly and it errors out when loading. I did copy the sv-se files to danish one by one until it worked and then I translated that file by hand....

[2020-03-07 15:34] forslund commented on #25
pythex seem to [indicate](https://pythex.org/?regex=(tamise%7Cillumine%7Caugmente%7Cmonte%7Cdiminue%7Cdescend)%20(%3F%3A(l%27intensit%C3%A9%20de%7Cla%20lumi%C3%A8re))%3F(%3FP%3CEntity%3E.*%3F)%20(%3F%3Ade)%3F%20(%3FP%3CBrightnessValue%3E%5Cd*)%3F(%3F%3A%20pourcent)%3F&test_string=&ignorecase=0&multiline=0&dotall=0&verbose=0) dimming.rx in the fr-fr isn't correct and a tleast one of the lines in se

[2020-03-08 14:11] iditude commented on #25
Hello,

Thanks for looking into this. I was able to find indeed a few mistakes. I don't know how to make those changes to the code though.

in dimming.rx
change the line

`(tamise|illumine|augmente|monte|diminue|descend) (?:(l'intensité de|la lumière))?(?P<Entity>.*?) (?:de)? (?P<BrightnessValue>\d*)?(?: pourcent)?`
to
`(tamise|illumine|augmente|monte|diminue|descend) (?:(l'intensité de|la lumière

[2020-03-13 20:18] iditude commented on #25
Hello, any idea?
Thanks

[2020-03-13 21:50] andlo commented on #25
What warnig do you get ? You should be able to cange whatever you want, and then skillmanager pickups that there is changes and reloads the skill. So maybe the warning is just about you changed something?

[2020-03-14 14:53] iditude commented on #25
Thanks for the help. The error message I'm getting during load is the following:

[code]

As far as request is confirmed. Asking for "allume entree" (entree being a home assistant entity to turn on), this is what I get in debug:
[code]

There's nothing about homeassistant so it's not even picking up. Any ideas?

Thanks

[2020-03-14 15:24] andlo commented on #25
That looks like the to files dimming.rx and has some errors.
Edit those and correct - what is correct I cant tell, as I am not good at regex, but you can look into the same files in en-us filder and maybe see what is different and correc acording to that.

It can be as simple as a space the wrong place or an entityname beeing translated.

I dont know why the new french translatios is pulled from t

[2020-03-15 11:39] iditude commented on #25
OK so I'm not sure how to correct this. The fact is, the english version shows the same error in dimming.rx

https://pythex.org/?regex=(dim%7Cbrighten%7Cincrease%7Cdecrease)%20(%3F%3Abrightness%20of%20)%3F(%3FP%3CEntity%3E.*%3F)%20(%3F%3Aby)%3F%20(%3FP%3CBrightnessValue%3E%5Cd*)%3F(%3F%3A%20percent)%3F&test_string=Today%20is%202020-03-15.&ignorecase=0&multiline=0&dotall=0&verbose=0

the same line

[2020-03-15 13:16] Lex-talionis opened #32 "Vacuum integration."
I installed this and i'm happy its working as expected. I want to use it with my vacuum integration that  i got from here https://github.com/BnMcG/PyRobovac. It works manually through the home assistant dashboard but not through mycroft voice command. Its response is "Sorry cant find the Home Assistant entity "vacuum manuel".

The entity is named this "vacuum.manuel" on my home assistant which I c

[2020-03-15 17:59] andlo commented on #32
Hi I dont think the homeassistant-skill regonize entities from vacum domain. Så you have to work around that. I see three ways to go:

1: Activate the falback intent in the homeassistant skill on the skill-settings page. Add a intent to activate your vacum.

2: Add a template switch and have that activate you vacum

3: Add support for vacum domain to homeassistant skills

I think 1 or 2 is the eas

[2020-03-15 19:09] Lex-talionis commented on #32
Thanks for the quick response.

After looking at the source I see theres a list of domains that contain group, lights etc. I assume this is what you mean in your 3rd point. I'm new to homeassistant and mycroft so I'll have to figure out how to do 1 or 2.

Really appreciate your help.

I am a dev by trade but I dont use python

[2020-03-15 19:58] andlo commented on #32
Yes that is what I ment.

I am not a dev but know python ;)

[2020-03-16 14:50] andlo commented on #32
Ill close this issue as I think it is beeing answered. Fell free to reopen or open a new one.

[2020-03-16 14:50] #32 closed, assigned to nobody

[2020-03-16 14:57] andlo commented on #24
Hi @adas4190
As far as I can red the code for now the homeassistant skill only handles thies domains

           entity,
            [
                'group',
                'light',
                'fan',
                'switch',
                'scene',
                'input_boolean',
                'climate'
            ]

But you can use the fallback feature and make things happen by an i

[2020-03-24 07:55] #24 closed, assigned to nobody

[2020-04-08 20:42] kamir86 commented on #25
Hello, i fixed the same problem on italian language.
The problem is that an adapt intent is used for example in "turn on/off" command.
The adapt intent extrapolate the "on" or "off" word from the utterance and then it uses that word as is to call home assistant service, but almost all the other languages don't use those keywords on utterance.
This lead the home assistant service call to fail. I fo

[2020-04-14 01:19] fermulator opened #34 "process for new vocab - scene via "Hey Mycroft, it's <scene name>""
Hello! This issue is more of a question to start, but based on answers I'd like to submit a PR.

As per https://github.com/MycroftAI/mycroft-homeassistant/blob/20.02/vocab/en-us/AutomationActionKeyword.voc, we have some initial great vocab for activating scenes/automation in home assistant.

We have some scenes like:
* "Movie Time"
* "Bed Time"
* "Entertaining Main Floor"

So we can activate them

[2020-04-19 11:54] Tony763 commented on #25
@kamir86  could you upload your code? I am working on czech support so it would help me.

[2020-04-19 18:57] kamir86 commented on #25
hello @Tony763 here's my patch described above: https://github.com/kamir86/mycroft-homeassistant/commit/d8dcd3e0e583e17f50e8e6618636baae97fd96bf

[2020-04-21 11:31] Tony763 commented on #25
Good job @kamir86, For czech support I need a turn on/of action divided as we us only one word action. My friend @Manasovo will send you a PR with DE translation. I am not sure if other languages worked.

[2020-04-21 11:36] kamir86 commented on #25
Great, with DE translation I think we can also safely remove the hackish "if" that I found in code

[2020-04-21 16:16] Manasovo commented on #25
on the place ... https://github.com/kamir86/mycroft-homeassistant/pull/1/commits/d12849e55169310e4ab0bff4e56022450e452038

[2020-04-21 20:49] Tony763 commented on #25
@kamir86 I have also problem with Adapt for other actions, only your Padatious actions works. I will rewrite all actions from Adapt to Padatious for English and Czech and send it to your repo.
Now works: Turn on/off/toggle, sensor.

[2020-04-22 00:44] fermulator commented on #20
same here;
TIP: I suspect a "workaround" would be to create and name a light group called "all"? ;/

[2020-04-22 00:49] fermulator opened #37 "request to turn on light group doesn't work if ONE (or more) of the lights is already on"
Consider the following light group
[code]

or
[code]

Let's use the kitchen for this example.

1. "baseline test" -- all lights are off
[code]
works!

2. "subset of lights in a room are on" -- and we want ALL lights in the room on
[code]
, doesn't work:

This is because the "state" of the group is on if any one sub-entity is on.
![Selection_042](https://user-images.githubusercontent.com/6778269/79

[2020-04-22 09:04] iditude commented on #25
Hello,

I'm happy to support for french, but have no coding experience. What can I do?

Thanks

[2020-04-22 09:57] Tony763 commented on #25
For now you can copy turn.on.intent (off and toggle) from vocab/en-us in kamir86 branch to fr-fr, translate them and test them. If they will work, you can send them as PR. I will try to send PR with rewrited sensor tonight.

[2020-04-22 16:35] kamir86 commented on #25
Hello @iditude , if you're not familiare with github you can also translate these sentences:
toggle {Entity}
switch {Entity}
Can you toggle {Entity} please?
Can you switch {Entity} please?
I'd like to switch {Entity}
I'd like to toggle {Entity}

turn off {Entity}
Can you turn off {Entity} please?
I'd like to turn off {Entity}
I would like {Entity} off

turn on {Entity}
Can you turn on {Entity} ple

[2020-04-22 17:53] Tony763 commented on #25
@kamir86 I send you [PR](https://github.com/kamir86/mycroft-homeassistant/pull/3) with rewrited sensor, CS support and some clean up, I will rewrite next intents in next few days.

[2020-04-23 02:20] damanbaird commented on #13
i used a long-lived access token and still cant get it to connect

[2020-04-23 20:44] Tony763 commented on #25
@andlo All intens were rewrited, @kamir86 have them on his fork. We will need to re-translate them. CS, EN and IT will be done. I read that you are Danish so if you have time, could You also participace? Do you know a way how to push changes back to translate.mycroft platform?

[2020-04-23 20:58] Tony763 commented on #34
1. Simple PR.
2. _HA skill use higher priority for fall back. So it should test intens as first, if it not find wanted scene, it will fallback to another skill._ EDIT: Will not fallback, but say it did not find entity.
[code]
I would try use it as "Hey Mycroft, it's 'scene', now." --> ex "Hey Mycroft, it's Movie Time, now"

With scene named `Movie`:
![image](https://user-images.githubusercontent.c

[2020-04-23 21:59] Tony763 commented on #37
Yes, this could be done.

Api sends all entity_id in attributes:
 {"attributes": {"entity_id": ["light.kitchen_light", "light.outdoor_light"], "friendly_name": "Kitchen", "order": 0}, "context": {"id": "c0711b8a6081431a8600a22a4109e834", "parent_id": null, "user_id": null}, "entity_id": "group.kitchen", "last_changed": "2020-04-23T21:49:10.603502+00:00", "last_updated": "2020-04-23T21:49:10.603502

[2020-04-24 10:36] Tony763 commented on #20
This correspond with #37.  If #25 will be merged, I can try to rewrite also this.

[2020-04-24 17:14] Tony763 commented on #37
Fast workaround is to set `all:true` In HA group settings. Group will be only on when all entities are on.

[2020-04-25 07:25] Tony763 commented on #20
@TheLastProject @andlo  - try this [branch](https://github.com/Tony763/mycroft-homeassistant/tree/turn_on_all-group). It works for on/off by domains (light, switch)

[2020-04-25 19:06] fermulator commented on #37
downside of this is that if one is using the web UI, then it is more difficult to turn OFF all the the lights in the group hehe

[2020-04-25 19:08] fermulator commented on #37
I was wondering about how to logically handle toggle as well.

On one side, I thought maybe `toggle` would actually be a workaround, like if I said

But of course the pure answer is that

, should actually toggle (INVERT) _all_ of the lights within the group.

[2020-04-25 19:11] fermulator commented on #37
Note for set/adjust intensity/brightness; Intuitively, I could suggest that it would _ONLY_ affect the lights in the group that are currently ON.

However I can see the other side of the coin that it should do it for ALL lights ... but some scenarios would not desire that scenario.

[2020-04-27 21:32] Tony763 commented on #37
@fermulator   Test this [turn_on_all-group](https://github.com/Tony763/mycroft-homeassistant/tree/turn_on_all-group)

[2020-04-27 22:54] fermulator commented on #37
@Tony763 i pulled down your branch on top of the ha skill
`/opt/mycroft/skills/homeassistant.mycroftai`
[code]

. restarted mycroft; (not sure how to verify it is _actually_ loading your version...)

but .. after doing so, nothing works at all, so ..
[code]

[2020-04-28 05:12] Tony763 commented on #37
Seems just like TYPO: `HEAD detached at tony673/turn_on_all-group`

Change a order of numbers :)

[2020-04-28 11:51] fermulator commented on #37
gawd; how'd that even work? (it wouldn't have been a valid branch fun)

[2020-04-28 22:02] koalatron-9000 commented on #13
I am also having the same error. I have a long-lived access token that I cut & pasted into the configuration. But when I ask mycroft to do anything through my home assistant, I get the bellow error:
fresh install of home assistant (rpi2) and mycroft(rpi3)
![home assistant error](https://user-images.githubusercontent.com/19487364/80542081-3effb580-8961-11ea-8ae0-1edd0827883e.PNG)

[2020-04-29 08:29] Tony763 commented on #13
hi @koalatron-9000, try this [branch](https://github.com/Tony763/mycroft-homeassistant/tree/turn_on_all-group) and let me know.

Added:
- check if IP and Token is present in config and inform if missing.
- inform if Token was not accepted

[2020-04-29 16:49] Tony763 commented on #37
managed to get it working?

[2020-04-29 19:41] koalatron-9000 commented on #13
Now mycroft responds with an error about "no running timers"
![mycroft screenshot](https://user-images.githubusercontent.com/19487364/80639372-c52a0380-8a16-11ea-8717-45eb6c7d600a.png)

[2020-04-29 19:48] Tony763 commented on #13
if you write :skills is HA skill listed?

[2020-05-01 11:36] fermulator commented on #37
@Tony763 sorry no, after the oopsie in the git branch switch, it wiped the config (didn't know the config was stored there! figured skill configs would be in user home...) - need some time delay before i'll try again cause I have to start over :(

[2020-05-01 17:04] koalatron-9000 commented on #13
no. it is no longer listed when I type skills, nor is it listed on the website under my skills section. But it is still in opt/mycroft/skills with everything else

[2020-05-01 18:34] Tony763 commented on #13
Try:
[code]

Or:

mycroft-msm install https://github.com/Tony763/mycroft-homeassistant.git

[2020-05-07 12:32] iditude commented on #25
Hello,

Please find FR translations. The one thing I'm not sure is formatting for the pronoumn. For instance when used "le" or "la" there is a space separating with the entity name "la chambre" but when using "l'", there is no space (e.g. the hallway is "l'entrée"). Not sure how to capture this using "(le|la|l') {Entity}" in the code below

Thanks!

bascules (le|la|l') {Entity}
changes (le|la|l')

[2020-05-07 19:59] Tony763 commented on #25
Hello, try this [fork](https://github.com/Tony763/mycroft-homeassistant) and let me know

[2020-06-14 07:56] Gotanius opened #39 "Failed to load 'nothing to repeat at position 0'"
After install and when trying to load the skill the following shows up and the skill doesn't load.

Traceback (most recent call last):
  File "/home/pi/mycroft-core/mycroft/skills/skill_loader.py", line 238, in _create_skill_instance
    self.instance.load_data_files()
  File "/home/pi/mycroft-core/mycroft/skills/mycroft_skill/mycroft_skill.py", line 1180, in load_data_files
    self.load_regex_fi

[2020-06-15 13:26] Gotanius commented on #25
I seem to be having a related issue. When I'm running mycroft in dutch (nl-nl) and this skill it won't recognize my intent/requests. Giving either responses about not understanding me or about not knowing how to communicate with home assistant.
When I change mycroft to en-us it works fine with home assistant.

Maybe the solution for german and italian will also wor for dutch. I've added the transl

[2020-06-16 16:57] kamir86 commented on #25
@Gotanius it'll work also for dutch I'll update my branch as soon as possible

[2020-06-16 17:24] #39 closed, assigned to nobody

[2020-06-16 17:25] Gotanius commented on #25
I've created a fork and translated the nl-nl vocab files.
Weird issue is now that I get a invalid token error. Even though the token is correct. I even created a new token to test it. Any idea what is causing this?

[2020-06-16 17:46] kamir86 commented on #25
You can check your hassio token configuration following this guide https://developers.home-assistant.io/docs/auth_api/#making-authenticated-requests . If all is correct and you're able to make a request with your token maybe there's some bug on plugin code. My installation works fine.

[2020-06-16 18:28] Gotanius commented on #25
hmm I tried your fork and it seems to work (in english of course). When adding my own translations, fixing numvalue and trying to run it on nl-nl I'm getting

[code]
Using en-us vocab/regex seems to fix this. I'll try to debug/translate these tomorrow.

[2020-06-16 18:54] kamir86 commented on #25
May I have a patch file of your work for review?

[2020-06-16 20:18] Tony763 commented on #25
@Gotanius: Helo, try my [fork](https://github.com/Tony763/mycroft-homeassistant), it is based on @kamir86 branch, with all rewrited intents to Padatious, no need to mesh with regex any more and fixes for few issues. If anything not work, I can help.

[2020-06-17 10:11] Gotanius commented on #25
@kamir86 I'm a total github n00b so I'm not sure how to give you a patch file. I can however point you to the [fork ](https://github.com/gotanius/mycroft-homeassistant/)I made based on @Tony763 fork.

@Tony763 when I try your fork (in en-us) I get issues regarding the home assistant server not accepting my token. Even though the token is correct.

[2020-06-17 10:18] Tony763 commented on #25
@Gotanius Yesterday, I found a stupid mistake from time when I worked on fix for #13. Token was hard coded to mistmach to test it. You can get a fresh copy of fork or just change **line 38** in `__init__.py`   from `token = "sgfsd" #self.settings.get('token')` to `token = self.settings.get('token')`.

[2020-06-17 10:30] Gotanius commented on #25
@Tony763 that seems to make it connect. Now when I try for example to turn on a light. Mycroft asks me to confirm. When I confirm with a 'yes' I get a 'I agree, but to what?' response

[2020-06-17 10:37] Tony763 commented on #25
@Gotanius Run:
`mycroft-stop`
`mycroft-start debug`

In console write:
`:log level debug`
Try Turn on intent and post me a output.

[2020-06-17 10:47] Gotanius commented on #25
[code]
Ah I think it has trouble with the dutch names of my entities. When I try english names, they work.
Scratch that. Turn on seems to work. Turn off does not.

[2020-06-17 20:38] Tony763 commented on #25
Try to uncheck `Enable conversation component as fallback` in home assistant skill setings at [https://account.mycroft.ai/skills](https://account.mycroft.ai/skills) and try it again.

[2020-06-18 12:32] Gotanius commented on #25
that worked... Thanks. I'll try it with the dutch translations in a bit

Woehoe dutch works!

[2020-06-18 18:47] Tony763 commented on #25
Glad to hear. Send me a PR with your changes.

[2020-06-18 18:59] Gotanius commented on #25
I think I did it correctly. If not, I n00bed it, sorry.

[2020-06-27 14:01] iditude commented on #25
Hello,

Not sure how to do that from Mycroft. Happy to help, but would need some guidance on replacing the standard by a fork?

Thanks

[2020-06-30 09:54] Tony763 commented on #25
@iditude Try:

[code]

test intent and post me a log

[2020-06-30 14:16] fermulator commented on #37
@Tony763  - got my setup re-installed on picroft - ready to retest; is that branch you have there still usable? (should we rebase it first?)

[2020-06-30 15:27] Tony763 commented on #37
Yes, still works. I do not want to rebase it yet as i still have other open issues that i have fixed by this branch but need to test them

[2020-07-14 08:42] iditude commented on #25
Hello,

I tried but no success. Debug is not very verbose though

Thoughts?

[code]

[2020-07-19 15:54] gador commented on #25
I had the same issue. Unfortunately it took me a while to figure out. My setup:
Current picroft with mycroft-core 20.2.4
#38 applied to the homeassistant.mycroftai folder:
[code]
Confirmed it working with homeassistant in English.
When switching to german ("de-de") with
`mycroft-config set lang "de-de"`
it stopped working. Neither the German nor the English utterance seemed to work.

Finally I fou

[2020-07-19 19:44] Tony763 commented on #25
@gador: Nice catch. Branch updated with your translation.

@iditude: Sorry for late reply. Please translate this and I will update my repo asap.

[code]

[2020-07-24 17:47] iditude commented on #25
@Tony763 : yes sure! Here you go

Cheers

[code]

[2020-07-26 08:47] iditude commented on #25
Hello,

Thanks for the update. I'm still facing the same issue, but problem seems different as the homeassistant skill loads (and I verified presence of turn fr-fr/turn.all.json as indicated in the above posts)

Here are the full skills log from startup to requesting to turn on a light. https://pastebin.com/nTSZ3BvW

Any ideas?

P.S: Btw, this is supposed to be in DEBUG as started with mycroft-sta

[2020-07-26 11:03] gador commented on #25
Hi @iditude,
mycroft-start debug doesn't (as the name implies) start a debug session but will only start mycroft and launch a CLI session. (so basically mycroft-start && mycroft-cli-client).
[code]

So for debug output please launch the CLI (e.g. by mycroft-start debug) and then enter:
[code]
This will in fact generate debug output. If you wait too long, the services will already be started and yo

[2020-07-26 11:16] iditude commented on #25
Thanks a lot for that. I actually found the log level setting in the log which does the job nicely.

Update log here https://pastebin.com/ij2i08CD

The most interesting piece is that the command is recognised as such and sent to Home assistant skill but it does nothing...
[code]

Any ideas?

THanks

[2020-07-26 11:46] gador commented on #25
You are right,
in the line:
[code]
padatious can't find any matches for your message (as seen by matches: {}). Probably caused by the language intent file.

(Theoretically it could also mean it can't find the entity "cuisine". Are you sure, your homeassistant installation has an entity named "cuisine" and that your token has access rights to "cuisine"?)

A thing you could try is, enter
[code]
into

[2020-07-26 12:46] Tony763 commented on #25
@iditude @gador
Ok, I switched my mycroft fo FR.

Padatious not foud your utterance as it is not in intent file.
I updated files so check it now.

@gador: If you have any updated intent files for your language, send them as pr to my repo, please.

![image](https://user-images.githubusercontent.com/5598750/88479343-b4722680-cf4e-11ea-907a-8b7e1cdd45a9.png)

[2020-07-26 13:06] gador commented on #25
Hi @Tony763 ,

I created a new PR in your repo. It also includes other work on the repo. If you feel that doesn't belong, feel free to delete those changes.

[2020-07-26 13:10] iditude commented on #25
Wooohooo !!! Rock and roll. This is working

[2020-07-26 20:44] Tony763 commented on #25
@iditude Glad to hear!

Then there is last round for translation, if you have time.
[https://pastebin.com/TSmvzDwa](https://pastebin.com/TSmvzDwa)

[2020-07-26 21:04] Tony763 commented on #25
@gador Seems OK, merged.

[2020-08-01 20:11] Fmstrat commented on #9
I'm having the same issue, as well. Has anyone solved this one?

[2020-08-03 00:07] krisgesling commented on #9
One issue is that if `settingsmeta.json` is modified then the backend treats it as a new settings block and doesn't currently have a mechanism to copy data across from previous settings. This is something we've got on the backlog to look at but have other priorities at the moment.

Is there a chance that this was the cause, or is it dropping the settings when this file hasn't been updated?

[2020-08-05 21:26] czadikem opened #42 "Mycroft cannot install"
Mycroft says "an error occured while installing the dependancies for home assistant"  when I try to install this skill

[2020-08-05 21:55] iditude commented on #25
Here you go

Cheers

[code]

[2020-08-06 07:56] gador commented on #42
Hi @czadikem ,

we need more information. What enclosure do you have (Picroft or mark I)?
Also, do you have access to the command line and can share the logs?

[2020-08-06 09:24] Tony763 commented on #42
Hi, also which version of python you are using?

[2020-08-17 19:53] Tony763 commented on #25
@iditude  sorry I forget one from automation.

(Activate|Fire|Call up|Trigger|Set) (the|) (automation|scene|script) {Entity}.

add (|the) {{entity}} to the (|shopping) list
put (|the) {{entity}} in the (|shopping) list
remind me to buy (|the) {{entity}}

ok, I have added the item to the list.
ok, added the item.
ok done.

[2020-08-20 20:20] Tony763 commented on #25
@gador @Gotanius  Hi, could one of You translate intent and dialog files for #35 and send them to me? Thank you

[2020-08-22 10:29] iditude commented on #25
Here you are. Never knew we had shopping list in Home assistant!

[code]

[2020-08-24 06:20] gador commented on #25
Hi @Tony763 ,
please see [my PR](https://github.com/Tony763/mycroft-homeassistant/pull/12) for the translation and some fixes for the German language.

[2020-08-25 09:32] inquanto opened #43 "Setting Alarms"
Hi there,

Thanks a lot for the amazing skill. I was wondering if there is any way to have data flowing from mycroft into home assistant as an event or something,  So that for example an alarm set in mycroft could then be automated in homeassistant.

[2020-08-25 16:44] Tony763 commented on #43
Hi, to understood for example: when mycroft alarm is activated, you want to run automation in HA ( turn on light, set temperature, open curtains, etc..)

This would be mabye posible if ther is way to check if exac skill is loaded from other skill. If yes, then it would only mean to add check if home assistant is loaded to alarm skill and with each activation triger set automation action with name

[2020-09-07 15:34] TheLogan opened #44 "The image links in the readme are broken"
As the title says, the image links are broken and simply redirect to a github 404 page.
This happens on the 20.8 and the 20.2 branches, but they still work for the 19.02 branch and some of the other branches too

[2020-09-07 16:01] Tony763 commented on #44
Hi, these files were removed in some commit as they were stored in root with no good names. I am waiting for approve of my PR #38. Hope it will be reviewed in next 4 weeks. After that I will dig into this. ( I do not want to make next merge conflict)

[2020-09-15 18:53] iditude commented on #25
Hello,

Anything you need from us in terms of translation or testing?

Cheers

[2020-09-18 21:25] Tony763 commented on #25
Hello,
only if You know one of these languages: DA,ES,IT,NL,PT,SV  :D

Currently I am waiting for approval from Mycroft devs.  ;)

[2020-09-19 21:29] iditude commented on #25
Unfortunately not!

Thanks for the update!

[2020-09-19 21:41] gaganpreet opened #46 "Mycroft controls wrong entity"
I've Tado (climate) and Hue (lamp) devices in my home, and for this particular issue: both define entities named "Bedroom"

I tried a few variations of these phrases to get Mycroft to control the hue lamp in my bedroom:

* turn on bedroom light/lights
* turn on bedroom lamp/lamps

In all scenarios, Mycroft affects my Tado entity in my bedroom instead of the lamps as expected.

Looking in code, the

[2020-09-20 06:17] Tony763 commented on #46
For English it would be easy. Intents for turn on/off are:
[code]
To add check if returned entity contain two words and check them against list of groups would be easy.
Problem will be with others languages as we use different order of words.
Bedroom light => (Direct translate) Ložnicové světlo => (Correct translate) Světlo v ložnici
For workaround this I name all entities with full name = light.s

[2020-09-22 16:27] ghost opened #47 "Can’t get this working.."
On latest picroft version, valid long term token but keep getting this error trying to run anything on home assistant.

![8303346E-06C4-4E6A-9223-D2A41371CAF6](https://user-images.githubusercontent.com/61924853/93910383-416efd00-fcbe-11ea-9444-755b65847f5b.png)

[2020-09-22 16:31] Tony763 commented on #47
Hello, try this branch [Tony763:turn_on_all](https://github.com/Tony763/mycroft-homeassistant/tree/turn_on_all-group-squash). I added few checks, so Mycroft should inform You if anything from settings is missing. Also lot of code was re-wrote.

[2020-09-22 16:44] ghost commented on #47
Ok I tried that branch and still get the same issue, don’t see any other errors.

![340E4E58-3AFF-4E5B-B281-6E5A4FDA1C9A](https://user-images.githubusercontent.com/61924853/93912060-79773f80-fcc0-11ea-9be8-d4b931d222af.png)

[2020-09-22 16:45] ghost commented on #47
Also I am trying to activate a scene if that makes a difference.. I tried “trigger Plex” before which didn’t work now so I tried “turn on Plex” this time which still isn’t working.

[2020-09-22 17:05] Tony763 commented on #47
Ouch, my bad. Pull it once again, local variable error fixed.

[2020-09-22 17:55] ghost commented on #47
Ok I ran msm update and it did update the skill. This is the new error message I’m getting.
![36523E84-866C-41D0-B331-4B8C63D6292F](https://user-images.githubusercontent.com/61924853/93919094-7da85a80-fcca-11ea-8c9e-033ebc18c7ea.png)

[2020-09-22 18:04] Tony763 commented on #47
Did you try anything other than plex?
As plex You mean [plex](https://www.home-assistant.io/integrations/plex/#media-player) media server?

[2020-09-22 18:25] ghost commented on #47
Yeah it’s a scene to hit play on my Plex player and I tried created a new scene just changing my light color and that did work. I tried manually running the Plex scene on HA itself and it gave me an error.. so I’m guessing my issue was with the Plex Intergration on HA itself not picroft..

[2020-09-22 18:25] #47 closed, assigned to nobody

[2020-09-22 18:29] Tony763 commented on #47
@tempuser0012  Ok, let me know, what caused it. If it was as error response hrom HA, component should properly inform about it, not just crash.

[2020-10-15 00:52] krisgesling opened #48 "Switch any intent file registrations to use the new decorator"
The old method of registering intent files was:
[code]
These can now be converted to decorators eg:
[code]

[2020-10-15 01:23] #25 closed, assigned to nobody

[2020-10-15 23:02] stratus-ss commented on #8
@scottsweb is this still valid on your setup? I haven't seen this in my testing but I don't have many of these use cases

[2020-10-16 07:27] scottsweb commented on #8
@stratus-ss I turned off my Mycroft Pi a few months ago as I wasn't really using it much. It was still getting confused until that point in time.

[2020-10-16 18:32] stratus-ss commented on #44
Thanks for the fix @Tony763 you've been putting in a lot of work that has spurred us on to action @krisgesling and I have started cleaning up the code in the commonIoT branch and we are slowly working towards shifting to this as the core.

In the mean time you have been doing a great job addressing some of the issues in the 20.x branches thanks a lot!

[2020-10-16 18:32] #44 closed, assigned to nobody

[2020-10-16 19:21] Tony763 commented on #44
@stratus-ss   Hopefully You will merge all my PRs as I do not plan to use commonIoT. For me everything that do something with home automation is and will be controlled trough Home Assistant so for me there is no use for commonIoT.

At last lot of these issues you will actually face even in commonIoT.

[2020-10-16 20:54] krisgesling commented on #44
Yeah, I can imagine that a lot of HA users may not see the need right now. It will become more important over time. Either way we definitely want to incorporate all your updates. As you said there are some common problems between the two and would be great to include the new features you are adding.

[2020-12-19 22:54] robertsawko opened #63 "Brightness support"
Many thanks for creating this skill. I've been using it with success on both individual and group lights.

It would be great if it could support brightness e.g.
[code]

I don't think it's a high priority feature as it could be achieved with scenes. Also, most of the time people will just use an app to get a very rewarding experience of sliding. There were a few situations though when I just wanted

[2020-12-31 04:18] krisgesling opened #64 "Intent conflicts for what and where"
Submitting the latest Skill to the Marketplace showed there are some small intent conflicts with default Skills:
PR - https://github.com/MycroftAI/mycroft-skills/pull/1459
Voight Kampff report - https://reports.mycroft.ai/skills/PR-1459/

Primarily the utterances:
- what is the status of the chicken timer
- where is morocco
- where is saturn
- where is the smithsonian

It would be good to look at

[2020-12-31 09:54] Tony763 commented on #64
Hello @krisgesling , for VK, please check:
[Travis](https://travis-ci.org/github/Tony763/mycroft-homeassistant/builds/724152734)
[Allure report](https://tony763.github.io/mycroft-homeassistant/3ef4a35584d5833b4fc58ba2d70a5f42e207291f/allure_report/index.html#behaviors/35cb3f7a5168669c589e4bdd2df34215/f3d5c5fe9a7adfea/)
Its based on real home assistant installation (pip package) created for each bu

[2020-12-31 21:11] Tony763 commented on #64
Managed to make Mycroft working again. I tested these utterances but sadly when utterance is catched by HA skill and entity is not found, Mycroft will respond with HA error and not try other skill.

@krisgesling Is there any workaround in other skills (music skills for example) If I say play artist and song and it's not found by first skill so Mycroft will try another enabled skill?

[2021-01-01 18:04] Tony763 commented on #64
For timer skill and utterance: "what is the status of the chicken timer":
Timer have both Adapt and Padatious intents:

Padatious:
how (much time|long) (is|) (left|remaining)
how (much|much time|long) (is|) (left|remaining) on (my|the|) {name} timer
how's (my|the) {name} timer
how's (my|the) timer
when (does|will) (my|the) timer (end|finish)
timer status
status of timer

Adapt query:
tell
are ther

[2021-01-04 03:31] krisgesling commented on #64
Hey Tony, with the music and media Skills we use the Common Play Framework which allows multiple Skills to trigger on things like "Play Metallica". The Common IoT Framework is largely there, it just has some incompatibilities with Python3.5 that will be dropped in the February release and can be utilised from then on.

It's interesting to think of whether "what is the status of {entity}" should be

[2021-01-19 12:57] adocampo opened #65 "Cannot obtain values from entity"
**Describe the bug**
Cannot obtain values from my Thermostat. I saw the vocab sentences and told mycroft to tell me the values of the current temperature, but it fails

**To Reproduce**
Steps to reproduce the behavior:
1. Say "Give me the value of thermostat `<ENTITY NAME>`"
2. you can try also with  "tell me value of `<ENTITY NAME>`"
4. See error ' An error occurred while processing a request in

[2021-01-19 13:30] fermulator commented on #20
with #54 in, does it mean i should retest? :)

[2021-01-19 13:35] Tony763 commented on #20
@fermulator Yes, if you could. If it works, we could close this.

[2021-02-05 17:33] antipiot opened #66 "Home-assistant skill not starting/working when language is set to french"
**Describe the bug**
Changing the language to french makes the Home assistant skill not working

**To Reproduce**
Steps to reproduce the behavior:
Install Mycroft - stable or dev
---- The following steps can be swapped between them to reproduce ----
set mycroft language to french: mycroft-config set lang "fr-fr"
install home-assistant skill: mycroft-msm install home-assistant
try to use Home-assis

[2021-02-20 17:13] b-mq commented on #66
same happens with german as default language `mycroft-config set lang "fr-fr"`

[2021-02-20 17:19] b-mq commented on #66
same happens with german as default language `mycroft-config edit user`
`{
  "max_allowed_core_version": 20.8,
  "lang": "de-de",
  "tts": {
    "module": "google",
    "google": {
      "lang": "de"
    }
  }
}
`

[2021-02-21 08:28] Tony763 commented on #66
Hi, from log I see, problem is with regex, I have a pending PR #53, if it will be accepted, I will send another one that will remove regex completely, because it will be not use anymore. For DE, all intents should be translated, but for FR, there will be need for help.

[2021-02-24 15:59] Tontonjo commented on #66
@Tony763 Thanks for help and PR,
May i help a bit for french? if yes - how?

[2021-02-24 16:05] antipiot commented on #66
@Tony763 Thanks for help and PR,
May i help a bit for french? if yes - how?

[2021-02-24 18:51] Tony763 commented on #66
Hi @antipiot, yes. It depend how familiar you are with git and HA plugin. You can fork my repo, make changes and send them as PR to me. Or I can send you links to files that need translation and you can translate them and upload them there in zip file, I will add them to PR.

[2021-02-24 18:56] antipiot commented on #66
@Tony763 I wouldnt say i'm used to git but i can make a PR :-) not used to ha plugin tho.

Wich repo needs to be translated? if it's more easy to have file for me - im fine with it

[2021-02-24 19:07] Tony763 commented on #66
https://github.com/Tony763/mycroft-homeassistant/tree/patch-4

from directory dialog/en-us:
homeassistant.scene.on.dialog
homeassistant.shopping.list.dialog

from directory vocab/en-us:
*.intent (two should be already translated)

[2021-02-24 19:14] antipiot commented on #66
@tony763: thoses files should go in dialog/fr-fr/ if i'm not mistaken - right? I should make the PR there isn'it?

All files that exist in us should exist translated in fr right?

[2021-02-24 19:16] Tony763 commented on #66
Yes, copy them to fr-fr. For dialog, yes it should be 1:1, for vocab no, as only *.intent files will be used. After PR is accepted, I will make a clean up to remove all non used files.

[2021-02-24 19:32] Tony763 commented on #65
Hello, which version of HA and which language in Mycroft you use?

Could You update to latest version of skill, add log and send me its output.

[code]

[2021-02-24 19:53] antipiot commented on #66
@Tony763 it should be ok if i did understood the synthax right :-/
May discuss some formulations as french may be tricky but it should be a good start

[2021-02-24 19:59] Tony763 commented on #66
Translation do not have to be 100% same as original in English.  I know from Czech, I could made a 1:1 translation, but users would never trigger intents as we use a different formulation and position of words.

[2021-02-26 09:23] adocampo commented on #65
I'm still using Mycroft on English yet my HA devices are in Spanish. I'm making the tests through Mycroft debug by typing the queries, so all HA queries to switches for instance, are working, but asking for temperature of my sensors doesn't.

## System Health

version | core-2021.2.2
-- | --
installation_type | Home Assistant Container
dev | false
hassio | false
docker | true
virtualenv | false
py

[2021-02-26 09:28] adocampo commented on #65
Just for your information, when I set the temperature on the thermostat, it works, yet the acknowledgment message shows a mysterious "None", but getting that value, it fails

![imagen](https://user-images.githubusercontent.com/2266612/109282029-4e6bbb80-781d-11eb-95f4-a83abc8748e7.png)

[2021-02-26 09:37] Tony763 commented on #65
Regarding None in the acknowledgment message, it means that HA did not return a unit of value. Do you have a units visible in HA? Post me a screen of thermostat, please.

[2021-02-26 10:23] adocampo commented on #65
![imagen](https://user-images.githubusercontent.com/2266612/109288365-0d77a500-7825-11eb-92af-2a42339683d3.png)

The big number is the current temperature while the smaller one is the target temperature, so yes, it doesn't show the unit

[2021-02-26 10:27] Tony763 commented on #65
Ok, I will simulate it on my setup tonight and try to write a fix.

[2021-02-26 10:29] adocampo commented on #65
Nice, and regarding this code?

        sensor_unit = unit_measurement.get('unit_measure') or ''

        sensor_name = unit_measurement['name']
        sensor_state = unit_measurement['state']

        self.log.debug("Unit: %s" % sensor_unit)
        self.log.debug("Name: %s" % sensor_name)
        self.log.debug("State: %s" % sensor_state)

Can I do something to help? If you explain to me what I

[2021-02-26 10:35] Tony763 commented on #65
Not needed, it is only for printing values that HA return back to Mycroft. We know that problem is with  `sensor_unit`.

`sensor_unit = unit_measurement.get('unit_measure') or ''` mean that if returned value is None (dimensionless) it should be filled with a empty string, so you won't get None in response. I have one real and one dummy thermostat so I can simulate it. When I get back from work, I

[2021-02-26 23:27] Tony763 commented on #65
When setting a desired temperature, HA wont send back a units.
![image](https://user-images.githubusercontent.com/5598750/109363826-bce86200-788d-11eb-8ec1-54b62162978a.png)

We can ask HA developers to add units to their api.
Also if unit value unit is not found   it would be better to change `unit_measur = None` to `"<empty string>" `so we do not hear None from Mycroft.

For sensor its same. Cur

[2021-02-27 18:20] adocampo commented on #65
The On/off status can be stated if you try to set a temperature, if it's off you can't set any temperature (you must first turn it on).

When I ask for the temperature, I want to know the current one. Ideally we should be able to ask both the current temperature and the target temperature (and why not, if the thermostat is on or off), so it should answer for the three questions for separate.

If I

[2021-03-04 18:45] xiki808 opened #67 "Decrease and Increase intents not understood"
I'm trying to use intents mentioned [here](https://github.com/MycroftAI/skill-homeassistant/blob/20.08/vocab/en-us/increase.light.brightness.intent), but MyCroft ( Jarvis ) is not understanding.

I'm know that my voice command is recorded properly from the mycroft CLI.

Is there something I should do to make this work?

[2021-03-04 19:07] xiki808 commented on #67
I figured that the skill installed did not contain the latest commit. I did a git pull in `/opt/mycroft/skills/homeassistant.mycroftai` and intents are working way better.

Thank you for supporting this skill!!

[2021-03-04 19:09] xiki808 commented on #63
+1 for this feature

Would also like to see colour change feature :) :)

[2021-03-04 19:16] Tony763 commented on #63
@xiki808 hi, try `set brightness of {{entity}} to {{brightnessvalue}} percent`   with latest commit

[2021-03-04 19:32] Tony763 commented on #67
for now issue #64 block release of latest commits to public

[2021-03-04 19:50] Tony763 commented on #48
@krisgesling Hi, this should be done, could you close it?

[2021-03-04 19:58] xiki808 commented on #63
@Tony763 Thank you for your reply.

I tried that and this is what I'm getting:

![image](https://user-images.githubusercontent.com/8024321/110022533-51d6d980-7d2c-11eb-9f64-032b7c960dff.png)

I'm running on the latest commit: `1c0e7ba`

[2021-03-04 20:00] Tony763 commented on #63
@xiki808 try it with word percent, not with symbol

[2021-03-04 20:02] xiki808 commented on #63
I'm giving the commands through voice @Tony763

[2021-03-04 20:02] Tony763 commented on #63
and when you put it to console with text, will it work?

[2021-03-04 20:03] xiki808 commented on #63
Confirmed that, when I type the command and use percent word instead of symbol, works.

[2021-03-04 20:03] Tony763 commented on #63
ok, give me a moment

[2021-03-04 20:52] Tony763 commented on #63
Try this branch [https://github.com/Tony763/mycroft-homeassistant/tree/issue63](https://github.com/Tony763/mycroft-homeassistant/tree/issue63)

[2021-03-04 21:01] Tony763 commented on #66
@antipiot  Merged, could you pull my branch and test it?

[2021-03-04 21:07] Tony763 commented on #65
@adocampo Hi, sorry for delay. Lets begin slowly. Could you test this branch [https://github.com/Tony763/mycroft-homeassistant/tree/issue65](https://github.com/Tony763/mycroft-homeassistant/tree/issue65)  ?

This should fix case, when no unit is returned from HA. Mycroft should not tell None.

[2021-03-04 21:15] xiki808 commented on #63
Works! Nicely done.

![image](https://user-images.githubusercontent.com/8024321/110031286-02e27180-7d37-11eb-93ea-2425a3b7d66a.png)

Interesting project, I'm having a look at it and hopefully I can contribute something. I'm not a python developer though and the start is a hill climb ^^

[2021-03-04 21:34] xiki808 commented on #63
Would really appreciate if you can point me out where I can follow the logs printed out by `self.log.debug("Entity: %s" % entity)` for example.

I have venv setup and install requirements. I was hoping to tail debug logs while using mycroft.

[2021-03-04 21:53] Tony763 commented on #63
You can do it wit console you already using. Start Mycroft by  mycroft-star debug and supply command: `:log level debug`    Logs are saved in /var/log/mycroft/.

But if you are using VSCode and you intent to work on skills only, use Andlo's remote skill debugger. You can set brakepoints in skills you desire to change and work is then lot easier. [https://community.mycroft.ai/t/remote-debug-skill/8

[2021-03-04 21:59] xiki808 commented on #63
Got it! Thanks :)

I love logs, but that's interesting.

[2021-03-04 22:04] Tony763 commented on #63
You can take step by step and see all variables and their values. For me it's like riding in Fiat versus Tesla, Give it a try. My PR should by online in few minutes.

[2021-03-05 00:10] #48 closed, assigned to nobody

[2021-03-05 11:37] antipiot commented on #66
Man, how can i do that :-)
Apologizes for being a noob.

[2021-03-05 11:52] Tony763 commented on #66
No problem, you can navigate to folder where skills are located (for me it is `/srv/mycroft-opt/skills`), move `skill-homeassistant.mycroftai` somewhere safe and issue command
[code]

[2021-03-06 11:52] xiki808 commented on #63
Hi @Tony763, sorry for sending here, but I'm not able to send a PM from the community site.

I have added color change to lights in a new branch ( from 20.08 ) and I'm not able to push the branch due to permissions. I think since they blocked commits due to some other issues, the repo is read only.

Do you have any tips for me how I am able to push the change? Preferably without creating a fork.

[2021-03-06 14:58] Tony763 commented on #63
Hi @xiki808  You must create a fork, put changes into it and then create a Pull Request. Direct push changes to this repo is not allowed.

[2021-03-08 14:46] antipiot commented on #66
So: in case of need: on pi3b the skills are located in: /opt/mycroft/skills/
Actually the pull does not looks to contain the new files using:
"git clone -b patch-4 https://github.com/Tony763/mycroft-homeassistant.git"

![image](https://user-images.githubusercontent.com/26579988/110336718-6dd8c480-8025-11eb-9443-1bfa61195d56.png)
This is the full content of /opt/mycroft/skills/homeassistant.mycroft

[2021-03-08 19:12] Tony763 commented on #66
[code]
[code]

[2021-03-08 21:28] antipiot commented on #66
i'm tired - thanks.
sadly there are still errors when starting with fr-fr: please find log attached
[skills.log](https://github.com/MycroftAI/skill-homeassistant/files/6104236/skills.log)

[2021-03-08 22:32] Tony763 commented on #66
Me too, it's kinda late :smiley:   Turned my Mycroft to fr-fr and Found it! Please remove directory regex and try it. Even if regex are no longer used in my branch, Mycroft still loads them and one of them in fr is broken ( not happening in en, cs).

Also if you could, translate also    `automation.intent` and send it to me as PR. Thanks

[2021-03-11 08:33] antipiot commented on #66
@Tony763 i've translated automation.intent.
tried to delete regex but has still fails to load:
[skills.log](https://github.com/MycroftAI/skill-homeassistant/files/6121572/skills.log)

[2021-03-11 08:41] Tony763 commented on #66
My mistake, pull latest version of my repo.

[2021-03-11 09:53] antipiot commented on #66
Good news! it does work after pull and delete regex.
Still unable to trigger anything as it fails to match actual entities but the skill loads.

Good job.

[2021-03-27 13:29] fermulator commented on #20
sorry - to clarify, should i test off your branch? or has it already been delivered to the main branch?

[2021-03-27 13:58] Tony763 commented on #20
Main, as it's already merged to MycroftAI:20.08.

[2021-05-10 12:29] xoxopeter commented on #66
Hi Tony763,

I tried your solution and the home assistant skill startup with the fr language, but when i tried to do an action "Hey Microft, Turn on the office light" i'am getting the message that the HA server did not accept the configured password.

I also tried to generate manually the settings.json file under /opt/mycroft/skills/homeassistant.mycroftai

by adding :
{"__mycroft_skill_firstrun"

[2021-05-10 12:37] Tony763 commented on #66
Hi @xoxopeter   which version of skill You are using, the one from my repo or original skill from Mycroft. All changes are not officially rolled out as there are some collisions with other skills.

[2021-05-10 12:49] xoxopeter commented on #66
Thanks for the quickly reply,

Initially I installed the skill from the official repo then since the FR version was not working (failed for loading the skills), I retrieved the content from your repo.
So I deleted the content of the official repo under /opt/mycroft/skills/homeassistant.mycroftai and I put all your files. Then I deleted the en-fr file in the regex folder.

[2021-05-10 13:06] Tony763 commented on #66
Try to restart HA or try to change ip if you can, as it talks about ban, it can by placed on IP for some time period.

[2021-05-28 09:07] robertsawko commented on #63
Hello,
Thanks for this! Unfortunately this is still not working for me, but it looks like an issue is on homeassistant side. This is what I get on mycroft debug:

[code]
The standard turn on/off works ok though. Would you be able to advise?

[2021-05-28 09:16] Tony763 commented on #63
Hello @robertsawko, which version of HA skill You are using?

[2021-05-28 11:15] robertsawko commented on #63
Sorry, I am still relatively new to mycroft. I have navigated to `mycroft-core/skills/homeassistant.mycroftai`. `git branch` is telling me I am on 20.08 and the last commit appears to be 985c4013205d0ef3a55fc7aa3859f52cf1796e9b.

[2021-05-28 11:21] Tony763 commented on #63
Its quite old commit, current development from there is still not a part of official release as there are some collision with other skills namely issue #64. You can try to remove original directory and get skill from there with `mycroft-msm install https://github.com/MycroftAI/skill-homeassistant`. See [Mycroft Skill manager](https://mycroft-ai.gitbook.io/docs/skill-development/mycroft-skills-mana

[2021-05-28 11:38] robertsawko commented on #63
Thanks, I didn't know about `mycroft-msm`. I think I was installing skills via the web integration (official release?). Can I just confirm what I need to do?
I am on picroft so:
[code]
and if things are incompatible I can revert using `old-haas-skill`?

[2021-05-28 11:45] Tony763 commented on #63
Yes, you should be fine this way. Just make sure that  "old-haas-skill" is not present in skill directory. This way You will get actual active branch with latest commit in it.

Second option is to use just `git clone` and pick which branch or commit you want.

[2021-05-28 14:53] robertsawko commented on #63
Great. Thanks, it's working. Although now I seem to have this problem that appears to be described above, but I think I've got it the other way around. If I type `percent` in the terminal it works, but when I speak to Mr M `%` is picked up and Mr M is confused.

[2021-05-28 14:56] Tony763 commented on #63
Put there screenshots of terminal with all these uterances, I will look into it.

[2021-05-28 16:01] robertsawko commented on #63
Thanks for all of your quick replies. Here's a screenshot. Both typed in, but when I speak I get the latter:

![brighness](https://user-images.githubusercontent.com/773606/120011542-4f57e900-bfd6-11eb-8dfc-3232a3b562b4.png)

[2021-05-28 16:04] Tony763 commented on #63
Try it with white space between 50 and %.

[2021-05-28 16:12] robertsawko commented on #63
I tried and it's the same. I also tried dots at the end.

[2021-05-28 16:14] robertsawko commented on #63
Funnily enough:
[code]
works just fine.

[2021-05-28 16:19] Tony763 commented on #63
I see it now, PR fixing this issue is still not merged as it waiting for me to fix tests for it. I missed notification. I will add them tonigh and ask to merge it.

[2021-06-07 09:27] robertsawko commented on #63
Just to let you know I have temporarily edited the entry in the intent files and it is working fine. Will patiently wait for the PR to be accepted.

[2021-08-18 06:26] Tony763 commented on #63
Hi @robertsawko, PR was merged. If you could, check it and if it's ok, close the issue, please.

[2021-08-18 06:31] Tony763 commented on #20
Hi @fermulator  did you have time to test it?
Hi @TheLastProject, as PR is merged, could you also test it, please? If it's ok, could You close the issue?

[2021-08-18 06:36] Tony763 commented on #13
Hi @generalsmithers, could you test latest master branch? PR fixing this issue is merged so if its ok, could you close the issue, please?

[2021-08-18 06:37] Tony763 commented on #42
Hi  @czadikem, is this still issue for you? If not, could you close the issue, please?

[2021-08-18 06:47] TheLastProject commented on #20
Sorry, but I do not currently have a working Mycroft install anywhere and thus I cannot test this

[2021-08-18 08:47] robertsawko commented on #63
Thanks! I run
[code]
and I can confirm that the `%` symbol is being picked up and it works as expected.

[2021-08-18 08:47] #63 closed, assigned to nobody

[2021-08-23 19:29] Y0ngg4n opened #70 "Error Message"
**Describe the bug**
Throws an error

**Log files**
[code]

**Environment (please complete the following information):**
 - Device type: Raspberry Pi
 - OS: Rasbian
 - Mycroft-core version: latest

[2021-08-23 20:42] Tony763 commented on #70
Hi @Y0ngg4n, i see it. In `skill-homeassistant/dialog/de-de/homeassistant.device.off.dialog` in second entry is unbalanced double bracket. All files should have only one pair and in past there was one or two PR's to fix it but unfortunately were rewrote by translations and other PR's. I will send a new PR to fix this in about a hour.

[2021-08-24 16:42] Tony763 commented on #70
Hi @Y0ngg4n, could you test the PR by running `mycroft-msm install -b issue70 https://github.com/Tony763/mycroft-homeassistant`. It will install skill from my PR. If its ok, you can return back to master by running `mycroft-msm install https://github.com/MycroftAI/skill-homeassistant`  or you can wait till PR is merged.

[2021-08-24 18:23] Y0ngg4n commented on #70
@Tony763 sorry cant reproduce the error again. seems fixed.

[2021-08-24 18:26] Tony763 commented on #70
@Y0ngg4n in my repo or in original skill? Can you try it more times as affected dialog file contains 3 utterances that are picked randomly and second utterance is broken.

[2021-08-24 18:59] Y0ngg4n commented on #70
@Tony763 in your repo. i tried it 9 times so should be fine i think 🤔

[2021-08-24 19:02] Tony763 commented on #70
@Y0ngg4n then it's okay :grin: Thanks for testing, now we just have to wait for check and approve by @krisgesling.

[2021-08-25 06:51] Tony763 commented on #70
@Y0ngg4n Hi, PR is merged. You can switch back to mycroft repo. Also close this issue, please.

[2021-08-25 07:33] #70 closed, assigned to nobody

[2021-08-26 06:24] Tony763 commented on #66
Hi @antipiot, PR is merged, could you try it and if it works, close the issue, please?

[2021-09-07 15:30] pfefferle commented on #65
I have the same issue with the latest version of mycroft and the home assistant skill. I am using german as language:

[code]

[2021-09-07 15:31] Tony763 commented on #65
Hi @pfefferle just to be sure, is it a latest skill version from marketplace or from this repo?

[2021-09-07 16:27] pfefferle commented on #65
@Tony763 from this repo

[2021-09-07 16:29] Tony763 commented on #65
Hi @pfefferle , this one [https://github.com/Tony763/mycroft-homeassistant/tree/issue65](https://github.com/Tony763/mycroft-homeassistant/tree/issue65) ?

[2021-09-07 16:39] pfefferle commented on #65
yes, I also changed line 128 to return "", but this didn't work out either.

[2021-09-07 16:44] pfefferle commented on #65
@Tony763 I should have given this feedback before proposing another fix! sorry about that :(

[2021-09-07 17:13] Tony763 commented on #65
No problem, not blaming you :slightly_smiling_face:  Sorry if i sounded bad.

If changing line 116 and 128 did not help, problem must be some elsewhere. This piece of code was not used in past versions as quantulum3 was not in requirements. I will open it in debug once again and check.  NoneType error should not occur.

[2021-09-20 04:35] Da-Boom opened #75 "Allow Changing Colour of Lights"
**Is your feature request related to a problem? Please describe.**
I have a set of RGB lights and i would like to use mycroft to change their colour

**Describe the solution you'd like**
A notifty for "Change/Set \<light name\> to \<colour\>"

[2021-09-20 04:40] Tony763 commented on #75
Hi @Da-Boom, check PR #69. Feature is working, now we only wait for author of PR to fix merge issues.

[2021-09-27 17:15] Y0ngg4n opened #76 "Cant controll Area"
**Describe the bug**
I cant say `turn on [Area]`. It always just enables the first entity in the Area.

[2021-09-29 20:38] Tony763 commented on #76
Hi @Y0ngg4n, areas are quite new and I think, they are not implemented in this skill, yet. I will look into it.

[2021-10-07 06:22] krisgesling opened #79 "Normalize IP address setting"
**Is your feature request related to a problem? Please describe.**
An issue I've seen reported many times over the years is that people enter their host / ip address settings in different ways and it's not clear which format should be used. For example you might enter:
- `192.168.1.100`
- `http://192.168.1.100`
- `http://192.168.1.100/`
- `https://192.168.1.100`
- perhaps others?

**Describe the s

[2021-10-07 06:27] Tony763 commented on #79
Ok, will check.

[2021-10-07 06:38] krisgesling commented on #79
Not an essential thing, just something I've noticed and thought it might make a good Hacktoberfest project for someone - but feel free to take it on yourself too :)

[2021-10-07 06:43] Tony763 commented on #79
'ha_client.py' expect pure IP or domain name so it should by doable with some small regex.

BTW: It's 7. and I still do not have my 4 accepted commits :)

[2021-10-07 07:21] krisgesling commented on #79
ooh they're increasing the requirements this year!

It's so wildly different - you get lots of people trying to submit single letter typo fixes, and others writing an entire Skill for a single PR.

[2021-10-11 04:32] #65 closed, assigned to nobody

[2021-10-21 12:24] Y0ngg4n opened #85 "Mycroft Skill failed to load"
[code]

[2021-10-21 12:27] Tony763 commented on #85
Hi @Y0ngg4n, could you provide, what did you have in host address?

[2021-10-21 12:40] Tony763 commented on #85
Would you also test [PR#86](https://github.com/Tony763/skill-homeassistant/tree/patch-8)? It should fix it.

[2021-10-21 12:40] Y0ngg4n commented on #85
@Tony763 i cant say. There is no home assistant option at skill settings page.

[2021-10-21 12:42] Tony763 commented on #85
Host address :slightly_smiling_face:
![image](https://user-images.githubusercontent.com/5598750/138279425-d2cc5c2a-ab3c-495e-948e-19b36e120dcc.png)

Or you can't see a Home Assistant in Mycroft skills setting page?
![image](https://user-images.githubusercontent.com/5598750/138279981-a90b85d4-a84e-4996-bc53-0bf11e42959f.png)

[2021-10-21 12:45] Y0ngg4n commented on #85
![image](https://user-images.githubusercontent.com/30302975/138279985-5c72719a-3782-4eff-ae2f-62e1e7912967.png)
No home assistant

[2021-10-21 12:46] Tony763 commented on #85
Ok, so it failed at skill initialization so there is probably nothing set.  Could You test the proposed Fix?

[2021-10-21 12:52] Y0ngg4n commented on #85
jup now it works

[2021-10-21 12:54] Tony763 commented on #85
Silly mistake, thanks for feedback. :slightly_smiling_face:

[2021-10-25 14:33] stratus-ss commented on #76
Areas are not implemented in the skill

[2021-10-25 14:47] Tony763 commented on #76
Also all I have found so far, is that areas cannot be used in this way. They are just to sort devices by their physical placement. For controlling them, you should use groups. [HA forum](https://community.home-assistant.io/t/how-do-you-use-areas/261889) I also checked development tools in HA and there is no entry with areas in entities but I have one set.

[2021-10-25 21:25] Y0ngg4n commented on #76
@Tony763 thank you for the info to use groups

[2021-10-26 04:57] Tony763 commented on #76
@Y0ngg4n Could You close the issue, please?

[2021-10-26 05:10] #76 closed, assigned to nobody

[2021-10-28 04:37] krisgesling opened #92 "Duplicate dialog"
**Describe the bug**
User on the Forums is reporting that they get dialog duplicated as output:

It's also reporting "None" for presumably the unit of measure.

**To Reproduce**
Full details here:
https://community.mycroft.ai/t/mycroft-speaks-twice-with-homeassistant-confirmations/11428/2

**Expected behavior**
Single dialog reported back.

[2021-10-28 07:52] AIIX opened #93 "Add a native QML UI interface"
Add a native QML UI interface instead of webviews as being used in https://github.com/MycroftAI/skill-homeassistant/pull/84
A native QML UI provides more controls over the UI integration than a web interface, For example, a basic QML UI can be implemented for a group of devices and each individual device within a group itself (just to be clear the below is just an example of what it can look like

[2021-10-28 09:26] Tony763 commented on #92
Returning `None` should not occur with latest version. We will see if sparkyvision give us some more feedback.

I only found problem within `__init__.py` line 576, when HA do not return current temp. Intent get value of sensor:
[code]
![image](https://user-images.githubusercontent.com/5598750/139223778-7a5d083b-520e-473e-b2a8-dc1242b19bb2.png)

We will have to divide response dialogs.

[2021-10-28 11:13] pfefferle commented on #92
Makes sense! This was also a feedback of @krisgesling https://github.com/MycroftAI/skill-homeassistant/pull/82#discussion_r728653195

[2021-10-28 12:46] Tony763 commented on #92
I will prepare it tonight, I will just need translations to DE.

[2021-10-28 14:12] pfefferle commented on #92
I can help with german translations.

[2021-10-28 16:31] NeonDaniel commented on #93
A few comments in favor of the Web UI:
* Lovelace dashboards are designed to scale to multiple display sizes already
* User defined dashboards may be customized, including custom buttons that may not have an equivalent voice command
* Dashboards update dynamically when device states change
* Presuming configuration points at a local IP address (or some in-network routing), this also works when off

[2021-10-28 16:45] pfefferle commented on #93
I made a PR for loading the Lovelace UI, if you want to give it a try: https://github.com/MycroftAI/skill-homeassistant/pull/91

[2021-10-28 20:20] Tony763 commented on #92
@pfefferle PR ready, could You add translations and test it out? [Tony763:feature/issue92](https://github.com/Tony763/skill-homeassistant/tree/feature/issue92)

[2021-10-29 06:15] pfefferle commented on #92
@Tony763 sure, will do it later today.

[2021-11-16 15:15] stratus-ss commented on #85
@Y0ngg4n @Tony763 is this issue still valid or can it be closed?

[2021-11-16 15:16] stratus-ss commented on #9
I am closing this issue as it is over a year old. If users are still experiencing problems feel free to reopen this

[2021-11-16 15:16] #9 closed, assigned to nobody

[2021-11-16 15:17] stratus-ss commented on #8
Closing this issue as stale

[2021-11-16 15:17] #8 closed, assigned to nobody

[2021-11-16 15:18] stratus-ss commented on #20
I'm closing this issue as the reporter has decided to move on for now

[2021-11-16 15:18] #20 closed, assigned to nobody

[2021-11-16 15:21] stratus-ss commented on #34
i'm closing this because it appears to be stale. Please reopen if it is still an issue

[2021-11-16 15:21] #34 closed, assigned to nobody

[2021-11-16 15:22] stratus-ss commented on #37
@Tony763 is this still valid. I know we have merged a bunch of your stuff since the last comment in this ticket

[2021-11-16 15:22] stratus-ss commented on #42
closing this as the original user has not replied to the issue in some time

[2021-11-16 15:22] #42 closed, assigned to nobody

[2021-11-16 15:23] stratus-ss commented on #43
closing this ticket as being stale.

I would think this would require a new skill in order to coordinate between the Alarm Skill and the Home Assistant skill

[2021-11-16 15:23] #43 closed, assigned to nobody

[2021-11-16 15:25] stratus-ss commented on #46
closing due to inactivity

[2021-11-16 15:25] #46 closed, assigned to nobody

[2021-11-16 15:27] stratus-ss commented on #66
I'm closing this as the fix was merged and the user has not responded to the request for testing.

I don't have this issue in German

[2021-11-16 15:27] #66 closed, assigned to nobody

[2021-11-16 23:08] #85 closed, assigned to nobody

[2021-11-17 06:35] pfefferle commented on #79
Can this be closed?

[2021-11-28 13:39] megusta-01 opened #96 "Create a Wiki"
I don't understand how to work with it. How to start with it? I have so many problems to start. Commands are not recognized correctly, how can I adjust this? What is read out at hass, "friendly name", "entity id"? Commands like "Turn on the office light" / "Turn off bedroom lights" doesn't work for me.
If I ask "sensor temperature bath" - I get "CPU temperature is 50 °C".

[2021-12-01 13:01] radicalmachine opened #97 "Skill is unable to find cover entities"
**Describe the bug**
When asking to open or close cover entities, Mycroft does not understand the command. Light and switch entities work great.

**To Reproduce**
Ask Mycroft to open or close an existing cover entity in Home Assistant

**Expected behavior**
I had hoped the skill would understand the utterance. The entity is named 'garage door' but this isn't recognised. Perhaps I am doing somethin

[2021-12-01 13:04] Tony763 commented on #97
Hi @radicalmachine which version of HA skill you use? Installed by MSM or form github?

[2021-12-01 13:07] radicalmachine commented on #97
Installed via MSM - do I need to install this direct from Github?

[2021-12-01 13:11] Tony763 commented on #97
Version in MSM is not yet updated as we have conflict with `Were is` skill. PR to fix conflict is almost done, it need some cosmetic fixes that I will hopefully do till end of this week. When it's done and merged, version in MSM will be updated.

So You can wait for it or install actual version from there :slightly_smiling_face:

[2021-12-01 13:13] radicalmachine commented on #97
Grand - thanks for your help Tony

[2021-12-01 19:35] pfefferle commented on #96
I think we should update the README with some more accurate examples. The skill uses the friendly name, so to turn off the light, you should try "Turn off {friendly name of the light}".

sadly there is no area support https://github.com/MycroftAI/skill-homeassistant/issues/76 .

[2021-12-03 00:15] hperrin commented on #75
Brightness would also be cool.

[2021-12-06 22:10] guillaumenibert opened #98 "Unable to start skill-homeassistant when Mycroft is configured in French"
Hello,
I have some problems with the skill when I turn my Mycroft assistant into French language. Here is the problem:

**Description of the bug**
skill-homeassistant initialisation fails if Mycroft is configured in French

**To Reproduce**
Steps to reproduce the behavior:
1. Set Mycroft to English `mycroft-config edit user`
[code]
2. Reload the conf `mycroft-config reload` and reboot
3. skill-hom

[2021-12-06 22:12] Tony763 commented on #98
Hi @guillaumenibert, I think You installed skill by msm, right?

[2021-12-06 22:14] guillaumenibert commented on #98
Yes, of course.

[2021-12-06 22:17] Tony763 commented on #98
Then this is a known and fixed bug. :slightly_smiling_face:  Yet version in msm is not updated due to conflict with "Where is" skill. PR fixing that is almost done and I wanted to have this done by last week, but I had some other tasks to care off. Hope this will be done this week. You can wait or use skill directly from git.

[2021-12-06 22:18] Tony763 commented on #98
If you try version from git, please let me know if it work for you.

[2021-12-06 22:49] guillaumenibert commented on #98
Thank you for your help, the git version works!
However there is another bug: turn off the light doesn't work because the imperative form for "turn off" in French is "éteins" not "éteint" as written in the `vocab/fr-fr/turn.off.intent` file.

[2021-12-06 22:51] Tony763 commented on #98
Great :slightly_smiling_face: You can open PR with fix or I will do it tomorrow.

[2021-12-06 22:51] guillaumenibert commented on #98
It's a detail, everything else seems to work! Thank you ;)

[2021-12-06 23:34] guillaumenibert commented on #98
I checked other verbs, here is the merge request: #99

[2021-12-08 01:59] #98 closed, assigned to nobody

[2021-12-21 08:32] #97 closed, assigned to nobody

[2022-01-06 09:12] sca075 opened #100 "Devices Tracker - Persons and Devices."
There device tracker part of this skill is a little raw..

 Where is Sandro?

 Where is Sandro iPhone?

 So Sandro is at home?

You may consider to add a "Persons" "Entity" that in HA it has states "Home / Not_Home"...

[2022-01-30 19:57] Xansul opened #101 "Timeline for Script Handling"
Hello, do we have a timeline for adding the ability to call Home Assistant scripts? I'd love to help out in any way to get this ability added.

[2022-01-30 22:30] Tony763 commented on #101
Hi @Xansul, scripts should be accessible with automation intent. Try to use master branch in this repository as all changes are still not released to marketplace.

[2022-01-31 00:24] Xansul commented on #101
Thanks for the reply. I just cloned the master branch into my Mycroft setup, however I can't seem to get it to understand the command to call scripts. Is there a specific command that is used?

[2022-04-24 15:29] zeronounours opened #104 "Tracker entity fails padatious compilation"
**Describe the bug**
Since PR #89 the list of trackers is saved within a temporary `tracker.entity` files and loaded within padatious. Padatious cannot save the generated network and fails with an exception.

When padatious is configured to be `single_thread`, it cause the whole skills process to fails and exit.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure padatious as `single_t

[2022-04-24 15:38] Tony763 commented on #104
Hello, when I did this method, one of proposed tracker.entity storage was directly in folder with skill. It was rejected as not a good solution. If the skill work with padatious not single_threated=false, I would raise issue in Padatious.

When I come back home, I will try this.

[2022-04-24 18:01] zeronounours commented on #104
The issue is not really within padatious. It may do some cleanup of names to prevent saving issues, but the core problem remains this skill as it uses an unexpected behavior of mycroft-core: the filename is looked up within the `vocab` or `locale`, but it relies on `os.path.join`:
[code]

Due to `res_name` being absolute, join only return this part. However it is not an expected behavior, see `fin

[2022-04-24 18:54] Tony763 commented on #104
Yes, that's something I like what I did mean with Padatious (not in skill, but in Mycroft - wrote on phone in hurry, sry).

I can imagine something like this:
 `find_resource` could search not just root of skill, but also temp directory of skill. Then we could create a same directory tree as with skill root.

 or

When `res_name` is absolute path, the we could just check if file exist.

Or both.

[2022-04-24 20:36] zeronounours commented on #104
A cleaner way to do, even if mycroft-core do not have a dedicated method would be to do what `register_entity_file` do
[code]
instead of
[code]
---
[code]

[2022-04-25 06:04] zeronounours commented on #104
Do you want me to do a PR, or do you prefer to do it directly as part of another commit because it is only a 2-lines change?

[2022-04-25 06:15] Tony763 commented on #104
Please, prepare a separate PR, I am quite out of time now and It's always better to create separate PR's.

I had to cut one big PR into slices myself in order to get it merged. 🙂

[2022-07-29 12:46] stratus-ss commented on #37
Closing this due to being stale

[2022-07-29 12:46] #37 closed, assigned to nobody

[2022-08-20 22:15] robertsawko opened #106 "Mycroft times out on homeassistant commands"
Since about a month now my Mycroft homeassistant skill running on Picroft stopped working. Using the client in debug mode I write

```turn on corner lamp```

which used to work pretty flawlessly, but now I am getting:
[code]

**Environment (please complete the following information):**
 - Device type: Raspberry Pi
 - OS:  Picroft
 - Mycroft-core version: 20.08
 - Other versions: commit for the hom

[2022-08-20 22:40] robertsawko commented on #106
I've also tried to remove homeassistant skill with:

[code]
but that is behaving bizarrely. It seems I've got two skills installed?

[2022-10-15 20:30] Tony763 commented on #92
Wow, this one ended a half way. I missed Your PR with translations.

I will try to update changes with actual code base.

[2022-10-23 21:06] Tony763 commented on #79
Hi @krisgesling, could You close this as it's merged.

[2022-10-23 21:08] Tony763 commented on #64
After merging PR #112, this will be completed.

[2022-10-23 21:09] Tony763 commented on #13
Hi @krisgesling, close this please, fix was merged.

[2022-10-23 21:24] Tony763 commented on #106
Hi @robertsawko, sorry for late reaction. This is caused by issue #104 or at least partially. PR #112 will fix `FANN Error 2: Unable to open configuration file`. If you are still interested, You could test it. If login error still persist, send a new log here, please.

[2022-10-23 21:33] Tony763 commented on #101
Hi @Xansul, sorry for late reply. `(Activate|Fire|Call up|Trigger|Set) (the|) (automation|scene|script) {Entity}.` is used in English for activating automations so `Activate script {Entity}` should do a job.

[2022-10-23 21:33] robertsawko commented on #106
Thanks, @Tony763. I will see if I can get some time in the week to test it, but if not it may be next or the following weekend where I properly look at it.

[2022-10-23 21:35] Tony763 commented on #106
That's perfectly fine. I did not have time half a year so week or two are like nothing :slightly_smiling_face:

[2022-10-24 19:35] robertsawko commented on #106
Thanks. It does work now. What joy! It's like Mycroft returned from a long holiday.

[2022-10-24 19:41] Tony763 commented on #106
Wow, glad to hear it work. Thanks for testing it out. Now we have to wait for Kris to merge it.

This [post](https://github.com/MycroftAI/mycroft-skills/pull/1621#issuecomment-1288191519) track needed changes in order to update HA skill version in marketplace.

[2022-10-24 20:03] Tony763 commented on #101
Hi @Xansul, let me know if this is still a problem for You, please. I did not find anything wrong.

[2022-10-24 20:07] Xansul commented on #101
Hi @Tony763,

Thanks for the response, that's what I was looking for. I'll close the issue.

[2022-10-24 20:08] #101 closed, assigned to nobody

[2022-11-02 05:39] #13 closed, assigned to nobody

[2022-11-02 05:41] #79 closed, assigned to nobody